@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sports Goods Store</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Project Overview</h2>
        <p>
            TraineeName: Abdullah Al Foysal<br />
            ID: 1246618<br />
            Project On: Online Sports Goods Shop<br />
            Task Done:<br />
            1. CRUD Operation<br />
            2. Ajax Operation<br />
            3. View Model(Operation)<br />
            4. Partial View<br />
            5. Custom Routing<br />
            6. Authentication<br />
            7. Data Annotation<br />
            8. Validation<br />
            9. Filtering, Sorting and Pagination<br />
            10. Asynchronous Operation<br />
            11. Loading (Lazy, Eger, Explicit)<br />
            12. Cascading Delete<br />
            
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>User Information</h2>
        <p>
            <table border="1" cellspacing="2" cellpadding="3">
                <tr>
                    <th>Email</th>
                    <th>Password</th>
                    <th>Role</th>
                </tr>
                <tr>
                    <td>foysal@gmail.com</td>
                    <td>Foysal@123</td>
                    <td>Admin</td>
                </tr>
                <tr>
                    <td>akib@gmail.com</td>
                    <td>Akib@123</td>
                    <td>Manager</td>
                </tr>
                <tr>
                    <td>hakim@gmail.com</td>
                    <td>Hakim@123</td>
                    <td>General User</td>
                </tr>

            </table>
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        
            <p>
                <table border="1">
                    <tr><th>Product</th></tr>
                    <tr><td>Create:Manager</td></tr>
                    <tr><td>Edit:Manager</td></tr>
                    <tr><td>Delete:Admin</td></tr>
                </table>
            </p>

            <p>
                <table border="1">
                    <tr><th>Category</th></tr>
                    <tr><td>Create:Admin,Manager</td></tr>
                    <tr><td>Edit:Admin,Manager</td></tr>
                    <tr><td>Delete:Admin</td></tr>
                </table>
            </p>

            <p>
                <table border="1">
                    <tr><th>ProductImage</th></tr>
                    <tr><td>Create:Admin,Manager</td></tr>
                    <tr><td>Edit:Admin,Manager</td></tr>
                    <tr><td>Delete:Admin,Manage</td>r</tr>
                </table>
            </p>
           
        
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>